<div>
  <div>{{title}}</div>
  <div>{{progress}}%</div>

  <button onclick={{action "deleteChart"}}>Delete</button>
</div>

<pre>Percent {{percent}}</pre>
<div class="track__container js-track-container">
  <canvas height="125" width="500" class="js-canvas"></canvas>
  <div role="button" tabindex="0" class="track__button js-track-button"></div>
</div>